<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902991610927-tkqf804jtp80ivsdeq6hjf5vvr20ua2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902991610927-tkqf804jtp80ivsdeq6hjf5vvr20ua2k</string>
	<key>API_KEY</key>
	<string>AIzaSyCohKZnjLL6f3P6uUtOwV9YkAyMe8R5ePA</string>
	<key>GCM_SENDER_ID</key>
	<string>902991610927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>odyssey-f9163</string>
	<key>STORAGE_BUCKET</key>
	<string>odyssey-f9163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902991610927:ios:7ad2a3a02363820219f2da</string>
	<key>DATABASE_URL</key>
	<string>https://odyssey-f9163-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>